<h2>Add Event</h2>

<form (ngSubmit)="addEvent()">

    <input
        type="text"
        name="event_name"
        [(ngModel)]="event_name"
        placeholder="Event Name"
        required
    >

    <input
        type="date"
        name="event_date"
        [(ngModel)]="event_date"
        required
    >

    <input
        type="text"
        name="event_location"
        [(ngModel)]="event_location"
        placeholder="Location"
        required
    >

    <textarea
        name="event_description"
        [(ngModel)]="event_description"
        placeholder="Description"
        required
    ></textarea>

    <button type="submit">
        Add Event
    </button>

</form>

<p>{{ message }}</p>
